<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Average+Sans&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;1,400&family=Prata&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Poppins:wght@100;300;400&family=Quicksand:wght@300;400;500;600;700&family=Raleway&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Average+Sans&family=Mulish:wght@400;700;800;900&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="stylesheet" href="/styles/blogs.css" />
  <link rel="stylesheet" href="/styles/blog-creator.css" />
  <link rel="stylesheet" href="/styles/manage-blogs.css" />
  <link rel="stylesheet" href="/styles/details.css" />
  <link rel="stylesheet" href="/styles/videos.css" />
  <link rel="stylesheet" href="/styles/reviews.css" />
  <link rel="stylesheet" href="/styles/about.css" />
  <link rel="stylesheet" href="/styles/login.css" />
  <link rel="stylesheet" href="/styles/signup.css" />
  <link rel="stylesheet" href="/styles/profile.css" />
  <link rel="stylesheet" href="/styles/footer.css" />
  <link rel="stylesheet" href="/styles/404.css" />
  <link rel="shortcut icon" href="/gamerange.png" type="image/*" />

  <!--My FontAwesome Kit -->
  <script
    src="https://kit.fontawesome.com/96efdc57a4.js"
    crossorigin="anonymous"
  ></script>
  <!-- Iconify Icons API -->
  <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>
  <title><%= title %></title>
</head>
