<header>
    <div id="logo">
        <a href="/"><h1>GameRange</h1></a>
        <p>...for everything gaming.</p>
    </div>
    <nav>
        <ul>
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/blogs">
                <li>Blogs</li>
            </a>
            <a href="/videos">
                <li>Videos</li>
            </a>
            <a href="/reviews">
                <li>Reviews</li>
            </a>
            <a href="/about">
                <li>About</li>
            </a>
        </ul>
    </nav>
    <div id="login-div">
        <h3><a id="login" href="/login">log-in</a></h3>
        <h3><a id="signup" href="/sign-up">sign-up</a></h3>
    </div>
</header>

