<div id="search-div">
    <div>
        <form action="" id="search-form">
        <% if(title === 'Reviews Page') {%>
        <input id= "reviews-search" type="search" name="search" id="search" placeholder="Search reviews here...">
        <% } else if(title === 'Videos Page') {%>
        <input id= "news-search" type="search" name="search" id="search" placeholder="Search videos here...">
        <% } else if(title === 'Blogs Page') {%>
        <input id= "blogs-search" type="search" name="search" id="search" placeholder="Search blogs here...">
        <% } else { %>
        <input id= "home-search" type="search" name="search" id="search" placeholder="Search here...">
        <% } %>
        <ion-icon name="search"></ion-icon>
        </form>
    </div>
</div>
<a style="visibility: hidden; display: none;" href="https://icons8.com/icon/heDfCv4pIFyv/cancel">Cancel icon by Icons8</a>