<div id="search-div">
    <div>
        <form action="">
        <% if(title === 'Reviews Page') {%>
        <input type="search" name="search" id="search" placeholder="Search reviews here...">
        <% } else if(title === 'Videos Page') {%>
        <input type="search" name="search" id="search" placeholder="Search videos here...">
        <% } else if(title === 'Blogs Page') {%>
        <input type="search" name="search" id="search" placeholder="Search blogs here...">
        <% } else { %>
        <input type="search" name="search" id="search" placeholder="Search here...">
        <% } %>
        <ion-icon name="search"></ion-icon>
        </form>
    </div>
</div>