<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>
</head>

<body>
<div class="container">

    <%- include('./partials/nav.ejs') %>
    
    <%- include('./partials/search.ejs') %>

</div>

<div id="error">
    <div id="error-text">
        <h1 id="error-header">page not found</h1>
        <p id="error-note">Sorry, we couldn't find the page you requested for.</p>
        <a href="/home"><button id="error-btn">go to homepage</button></a>
    </div>
    <div id="error-image">
        <img src="/404.svg" alt="oops 404">
    </div>
</div>

<%- include('./partials/footer.ejs') %>

<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<script src="functions.js"></script>
</body>
</html>