<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>
</head>

<body>
<div class="container">

    <%- include('./partials/nav.ejs') %>

    <div class="signup-cont">
        <div class="form-control">
            <h1>Sign up</h1>
            <p>Please fill below with valid details.</p>
            <hr>
            <form method="POST" id="signup-form">
                <div class="username">
                    <label for="username">Username:</label>
                    <input type="username" name="username" id="username">
                    <span></span>
                </div>
                <div class="email">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" id="email">
                    <span></span>
                </div>
                <div class="password">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password1">
                    <span></span>
                </div>
                <div class="confirm-password">
                    <label for="password">Confirm Password:</label>
                    <input type="password" name="password" id="password2">
                    <span></span>
                </div>
                <button type="submit">Sign up</button>
            </form>
            <a href="/login">Already have an account? Log in now.</a>
        </div>
    </div>

</div>

<%- include('./partials/footer.ejs') %>

<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

<script>
    const signupCont = document.querySelector(".signup-cont")

    window.addEventListener("load", () => {
        fetch("https://api.rawg.io/api/games?search=last-of-us&search_exact=true&key=<%=RAWG_API_KEY%>")
        .then(blob => blob.json())
        .then(data => {
            console.log(data);
            const backgroundPic = data.results[10].background_image;
            signupCont.style.background = `linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(${backgroundPic})`;
            signupCont.style.backgroundSize = `cover`;
            signupCont.style.backgroundPosition = `center top`;
        })
    })
</script>

<!-- signup logic -->
<script>
const signUpForm = document.querySelector('#signup-form');

const usernameError = document.querySelector('.username span');
const emailError = document.querySelector('.email span');
const passwordError = document.querySelector('.password span');
const confirmPasswordError = document.querySelector('.confirm-password span');

signUpForm.addEventListener("submit", async (e) => {
    const username = signUpForm.username.value;
    const email = signUpForm.email.value;
    const password = signUpForm.password[0].value;
    const confirmPassword = signUpForm.password[1].value;

    // resetting error messages and stylings
            confirmPasswordError.textContent = '';
            confirmPasswordError.previousElementSibling.style.border = "1px solid #5A5B5C";

            usernameError.textContent = '';
            usernameError.previousElementSibling.style.border = "1px solid #5A5B5C";

            emailError.textContent = '';
            emailError.previousElementSibling.style.border = "1px solid #5A5B5C";

            passwordError.textContent = '';
            passwordError.previousElementSibling.style.border = "1px solid #5A5B5C";

    e.preventDefault();
    try {
        const res = await fetch('/signup', {
            method: 'POST',
            body: JSON.stringify({ username, email, password: [password, confirmPassword] }),
            headers: { 'Content-Type': 'application/json' }
        })
        const data =  await res.json();
        console.log(data);
        if (data.password) {
            confirmPasswordError.textContent = data.password;
            confirmPasswordError.style.color = "red";
            confirmPasswordError.previousElementSibling.style.border = "1px solid red";
        }
        if (data.errors) {
            if (data.errors.username !== "") {
                usernameError.textContent = data.errors.username;
                usernameError.style.color = "red";
                usernameError.previousElementSibling.style.border = "1px solid red";
            }
            if (data.errors.email !== "") {
                emailError.textContent = data.errors.email;
                emailError.style.color = "red";
                emailError.previousElementSibling.style.border = "1px solid red";
            }
            if (data.errors.password !== "") {
                passwordError.textContent = data.errors.password;
                passwordError.style.color = "red";
                passwordError.previousElementSibling.style.border = "1px solid red";
            }
        }
        if (data.user) {
            location.assign('/');
        }
    } catch (error) {
        console.log(error);
    }
})
</script>

</body>
</html>