@font-face {
    font-family: helvetica-neue;
    src: url(../helvetica-font.ttf);
}

.about-cont {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    transform: preserve-3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
} 
.about-cont .about-hero {
    perspective: 100px;
    border-radius: 10px;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
.about-cont .about-hero h1{
    width: fit-content;
    margin: 40px auto 10px;
    font-size: 5em;
    transition: all 400ms ease-in-out;
}
.about-cont .about-hero p {
    width: fit-content;
    margin: auto;
    font-size: 2em;
    background: var(--background-color);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 400ms ease-in-out;
}
.about-body {
    width: 60%;
    margin: 20px auto;
}
.about-body p {
    font-size: 1.2em;
    text-align: center;
    line-height: 30px;
}
.about-body h3 {
    width: fit-content;
    position: relative;
    padding: 10px 0;
    font-size: 1.3em;
    margin: auto;
}
.about-body h3::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    display: block;
    height: 6px;
    background: var(--background-color);
    border-radius: 6px 6px 3px 3px;
}
.about-body ul {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.about-body ul li {
    font-size: 1.2em;
    list-style-type: none;
    padding: 5px 0;
    margin: 20px 40px;
    width: fit-content;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.about-body ul li i, .about-body ul li span {
    font-size: 4em;
    display: block;
}
.about-body ul li .mongoose {
    font-family: "helvetica-neue", helvetica;
    font-style: normal;
    font-size: 3.5em;
    font-weight: bolder;
}
.about-body .resources {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.undraw {
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    font-size: 3.5em;
}
.rawg {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 3.5em;
}
.about-body .thanks {
    width: 100%;
    text-align: center;
}
#giant-bomb {
    width: 130px;
    filter: grayscale(1) brightness(0.5);
    margin-bottom: 10px;
}


@media only screen and (max-width: 450px) {
    /* For screens less than 450px */
    .about-cont .about-hero h1{
        font-size: 3em;
    }
    .about-cont .about-hero p {
        font-size: 1.2em;
    }
}