/* blog creator stylings */
#bc-header {
    font-family: 'Average Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    box-shadow: 0 10px 20px #4b8d1166;
}
#bc-header .logo a {
    display: block;
    background: #657e0d;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#bc-header .logo p {
    font-style: italic;
    background: var(--background-color);
    background-clip: text;
    -webkit-background-clip: text;
    backdrop-filter: difference;
    -webkit-filter: difference;
    color: transparent;
    mix-blend-mode: difference;
}
#bc-header #bc-title {
    display: flex;
}
#bc-header #bc-title p{
    font-size: 1.7em;
    background: var(--background-color);
    background-clip: text;
    -webkit-background-clip: text;
    backdrop-filter: difference;
    -webkit-filter: difference;
    color: transparent;
    mix-blend-mode: difference;
}
#bc-header #bc-title svg{
    position: relative;
    z-index: -2;
    margin-right: 10px;
    margin-top: 5px;
    fill: #657e0d;
    transform: scale(2);
}
#bc-form {
    width: 800px;
    margin: 50px auto;
    padding: 0 0 50px 0;
    color: #657e0d;
    font-family: "Average Sans", sans-serif;
    border-radius: 10px;
    box-shadow: 0 10px 30px #4b8d1166;
}
#bc-form .header {
    text-transform: capitalize;
    padding: 20px 10px;
}
#bc-form hr {
    border: none;
    border-bottom: 1px solid #95b913;
}
#bc-form .dropdown {
    padding: 30px 10px 0;
    transition: all 500ms ease-in-out;
}
#bc-form .dropdown label {
    font-size: 1.2em;
    display: block;
    text-transform: capitalize;
    width: fit-content;
}
#bc-form .dropdown #input {
    margin-top: 10px;
    width: 200px;
    height: 30px;
    display: flex;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    z-index: 2;
}
#bc-form .dropdown #input:hover{
    box-shadow: 0 0 5px 2px #4b8d1166;
    border: none;
    transition: all 200ms ease;
}
#bc-form .dropdown #input input {
    width: 100%;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #657e0d21;
    background: transparent;
    padding: 0 0 0 5px;
    font-family: "Average Sans", sans-serif;
    font-size: 1.1em;
    outline: none;
    color: #657e0d;
    caret-color: #cc01aa;
    transition: all 200ms ease;
}
#bc-form .dropdown input:hover{
    border: none;
    transition: all 200ms ease;
}
#bc-form .dropdown input:focus{  
  box-shadow: 0 0 5px 2px #4b8d1166;
}
#bc-form .dropdown input::placeholder {
    color: rgba(101, 126, 13, 0.5);
}
#bc-form .dropdown #input svg {
    position: absolute;
    top: 30%;
    right: 5px;
    transform: scale(0.5) translateY(-50%) rotateZ(-90deg);
    fill: #657e0d;
    transition: all 500ms ease-in-out;
}
#bc-form .dropdown.show #input svg {
    transform: scale(0.5) translateY(-50%) rotateZ(0);
} 
#bc-form .dropdown #options {
    width: 200px;
    margin: 10px 0 0 0;
    background: transparent;
    border: 1px solid #657e0d21;
    padding: 5px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-40px);
    transition: all 500ms ease-in-out;
    position: relative;
    z-index: 0;
}
#bc-form .dropdown.show #options {
    height: 173px;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
#bc-form .dropdown #options li{
    list-style: none;
    font-size: 1.1em;
    text-transform: capitalize;
    margin: 5px;
    background: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    transition: all 200ms ease-in-out;
}
#bc-form .dropdown #options li:hover {
    background: #cc01aa;
    box-shadow: 0 0 5px #cc01aa;
    color: #cfcfcf;
}
#bc-form .title {
    padding: 30px 10px;
}
#bc-form .title label {
    font-size: 1.2em;
    display: block;
    text-transform: capitalize;
    width: fit-content;
}
#bc-form .title input {
    display: block;
    width: 70%;
    margin: 10px 0 0 0;
    height: 30px;
    border: none;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: transparent;
    /* border-bottom: 1px solid #657e0d; */
    padding: 0 0 0 5px;
    font-family: "Average Sans", sans-serif;
    font-size: 1.1em;
    outline: none;
    color: #657e0d;
    caret-color: #cc01aa;
    transition: all 200ms ease;
}
#bc-form .title input:hover{
    box-shadow: 0 0 5px 2px #4b8d1166;
    border: none;
}
#bc-form .title input:focus{
    box-shadow: inset 0 -1px #4b8d1166;
}
#bc-form .title input::placeholder {
    color: rgba(101, 126, 13, 0.5);
}
#bc-form .author-name {
    padding: 30px 10px;
}
#bc-form .author-name label {
    font-size: 1.2em;
    display: block;
    text-transform: capitalize;
    width: fit-content;
}
#bc-form .author-name input {
    display: block;
    width: 70%;
    margin: 10px 0 0 0;
    height: 30px;
    border: none;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: transparent;
    /* border-bottom: 1px solid #657e0d; */
    padding: 0 0 0 5px;
    font-family: "Average Sans", sans-serif;
    font-size: 1.1em;
    outline: none;
    color: #657e0d;
    caret-color: #cc01aa;
    transition: all 200ms ease;
}
#bc-form .author-name input:hover{
    box-shadow: 0 0 5px 2px #4b8d1166;
    border: none;
}
#bc-form .author-name input:focus{
    box-shadow: inset 0 -1px #4b8d1166;
}
#bc-form .author-name input::placeholder {
    color: #657e0d80;
}
#hero {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 20px 0 0;
    margin: 0 0 20px 0;
}
#hero-text {
    padding: 0 10px 0 10px;
}
#hero-text p {
    font-size: 1.2em;
    text-transform: capitalize;
}
#hero-text span {
    font-size: 1.1em;
    text-transform: capitalize;
    display: block;
    margin: 20px 0 0 0;
}
#hero-text label {
    cursor: pointer;
    margin: 20px 0 0 0;
    display: block;
    line-height: 30px;
    width: fit-content;
    color: #fff;
    border-radius: 5px;
    padding: 5px 20px;
    background: #657e0d;
    text-transform: capitalize;
    transition: all 200ms ease-in-out;
}
#hero-text label:hover {
    background: #cc01aa;
    box-shadow: 0 0 10px #cc01aa;
}
#hero #hero-img {
    display: block;
    width: 140%;
    margin: 10px 0 0 0;
    height: 30px;
    border: none;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: transparent;
    /* border-bottom: 1px solid #657e0d; */
    padding: 0 0 0 5px;
    font-family: "Average Sans", sans-serif;
    font-size: 1.1em;
    outline: none;
    color: #657e0d;
    caret-color: #cc01aa;
    transition: all 200ms ease;
}

#hero #hero-img:hover{
    box-shadow: 0 0 5px 2px #4b8d1166;
    border: none;
}
#hero #hero-img:focus{
    box-shadow: inset 0 -1px #4b8d1166;
}
#hero #hero-img::placeholder {
    color: rgba(101, 126, 13, 0.5);
}
#hero #hero-img-sect p {
    text-transform: capitalize;
    color: #657e0d96;
}
#hero #hero-img-sect img {
    width: 360px;
    max-width: 360px;
    min-height: 180px;
    max-height: 720px;
    box-shadow: 0 10px 30px #4b8d1166;
    position: relative;
    margin-top: 5px;
    overflow: hidden;
    margin-right: 20px;
    display: block;
    position: relative;
    border-radius: 10px;
}
#hero #hero-img-sect img::after {
    content: url(./preview-icon.png) " "attr(data-text);
    position: absolute;
    font-size: 1.5em;
    color: #657e0d4f;
    text-transform: capitalize;
    text-align: center;
    box-sizing: border-box;
    fill: #657e0d4f;
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    padding: 0 150px;
    height: 100%;
    background: linear-gradient(to bottom, #fff, #858484);
    background-size: 100vh;
    background-position: center;
    background-attachment: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
#bc-form .snippet {
    padding: 30px 10px;
}
#bc-form .snippet label {
    font-size: 1.2em;
    display: block;
    text-transform: capitalize;
    width: fit-content;
}
#bc-form .snippet input {
    display: block;
    width: 70%;
    margin: 10px 0 0 0;
    height: 30px;
    border: none;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: transparent;
    /* border-bottom: 1px solid #657e0d; */
    padding: 0 0 0 5px;
    font-family: "Average Sans", sans-serif;
    font-size: 1.1em;
    outline: none;
    color: #657e0d;
    caret-color: #cc01aa;
    transition: all 200ms ease;
}
#bc-form .snippet input:hover{
    box-shadow: 0 0 5px 2px #4b8d1166;
    border: none;
}
#bc-form .snippet input:focus{
    box-shadow: inset 0 -1px #4b8d1166;
}
#bc-form .snippet input::placeholder {
    color: #657e0d80;
}
#bc-form .blog-sect {
    padding: 30px 10px;
}
#bc-form .blog-sect label {
    font-size: 1.2em;
    display: block;
    text-transform: capitalize;
    width: fit-content;
}
#bc-form .blog-sect textarea {
    display: block;
    resize: both;
    min-width: 90%;
    max-width: 100%;
    margin: 10px 0 0 0;
    min-height: 300px;
    max-height: 360px;
    border: none;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: transparent;
    border: 1px solid #657e0d21;
    padding: 10px 5px;
    font-family: "Average Sans", sans-serif;
    font-size: 1.1em;
    outline: none;
    color: #657e0d;
    caret-color: #cc01aa;
    transition: all 200ms ease;
}
::-webkit-resizer {
    appearance: none;
    background: url('../resize.png');
    transform: rotateZ(45deg);
    background-size: cover;
    transform: rotateZ(180deg);
    background-repeat: no-repeat;
    transform: scale(8);
    position: absolute;
}
::-webkit-resizer::after {
    content: "r";
    display: block;
}
#bc-form .blog-sect textarea:hover{
    box-shadow: 0 0 5px 2px #4b8d1166;
    border: 1px solid #657e0d21;
}
#bc-form .blog-sect textarea:focus{
    box-shadow: 0 0 5px 2px #4b8d1166;
}
#bc-form .blog-sect textarea::placeholder {
    color: #657e0d80;
}
#blog-images {
    width: 100%;
    padding: 30px 10px;
    display: flex;
    align-items: flex-start;
}
#blog-images-text {
    width: 40%;
    padding: 0 10px 0 0;
}
#blog-images-text p{
    font-size: 1.2em;
}
#blog-images-text span {
    display: block;
    font-size: 1.1em;
    margin: 20px 0 0 0;
}
#blog-images-text  label {
    cursor: pointer;
    margin: 20px 0 0 0;
    display: block;
    line-height: 30px;
    width: fit-content;
    color: #fff;
    border-radius: 5px;
    padding: 5px 20px;
    background: #657e0d;
    text-transform: capitalize;
    transition: all 200ms ease-in-out;
}
#blog-images-text label:hover {
    background: #cc01aa;
    box-shadow: 0 0 10px #cc01aa;
}
#bc-form .remark {
    padding: 30px 10px;
}
#bc-form .remark label {
    font-size: 1.2em;
    display: block;
    text-transform: capitalize;
    width: fit-content;
}
#bc-form .remark input {
    display: block;
    width: 70%;
    margin: 10px 0 0 0;
    height: 30px;
    border: none;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: transparent;
    /* border-bottom: 1px solid #657e0d; */
    padding: 0 0 0 5px;
    font-family: "Average Sans", sans-serif;
    font-size: 1.1em;
    outline: none;
    color: #657e0d;
    caret-color: #cc01aa;
    transition: all 200ms ease;
}
#bc-form .remark input:hover{
    box-shadow: 0 0 5px 2px #4b8d1166;
    border: none;
}
#bc-form .remark input:focus{
    box-shadow: inset 0 -1px #4b8d1166;
}
#bc-form .remark input::placeholder {
    color: rgba(101, 126, 13, 0.5);
}
.blog-tags-sect {
    padding: 30px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.blog-tags-sect .blog-tags {
    width: 50%;
}
.blog-tags-sect .blog-tags label {
    font-size: 1.2em;
    display: block;
    text-transform: capitalize;
    width: fit-content;
}
.blog-tags-sect .blog-tags input {
    display: block;
    width: 80%;
    margin: 10px 0 0 0;
    height: 30px;
    border: none;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: transparent;
    /* border-bottom: 1px solid #657e0d; */
    padding: 0 0 0 5px;
    font-family: "Average Sans", sans-serif;
    font-size: 1.1em;
    outline: none;
    color: #657e0d;
    caret-color: #cc01aa;
    transition: all 200ms ease;
}
.blog-tags-sect .blog-tags input:hover{
    box-shadow: 0 0 5px 2px #4b8d1166;
    border: none;
}
.blog-tags-sect .blog-tags input:focus{
    box-shadow: inset 0 -1px #4b8d1166;
}
.blog-tags-sect .blog-tags input::placeholder {
    color: rgba(101, 126, 13, 0.5);
}
.blog-tags-sect .blog-tags span {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background: #657e0d;
    border-radius: 5px;
    color: #dadada;
    width: fit-content;
    cursor: pointer;
}
.blog-tags-sect .tags-display {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex: 1;
    min-height: 30px;
    border-radius: 10px;
    margin-right: 40px;
    box-shadow: 0 10px 30px #4b8d1166;
}
.blog-tags-sect .tags-display .tag-box {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.blog-tags-sect .tags-display .tag-box .tag{
    width: 100px;
    font-size: 1em;
    display: block;
    padding: 5px 0;
    text-align: center;
    background: #657e0d;
    color: #dadada;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    margin: 5px;
    text-transform: capitalize;
    list-style-type: none;
}
.blog-tags-sect .tags-display .tag-box .tag-remove-btn {
    background: white;
    color: red;
    display: block;
    height: 100%;
    padding: 5px 5px 4px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 900;
    margin-left: -5px;
    transition: all 200ms ease;
}
.blog-tags-sect .tags-display .tag-box .tag-remove-btn:hover {
    background: red;
    color: white;
}
.link-cont {
    width: fit-content;
    display: flex;
    align-items: baseline;
    padding: 5px 5px 5px 0;
    margin: 10px 0 0 0;
}
.blog-posters {
    display: block;
    width: 90%;
    height: 30px;
    border: none;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: transparent;
    /* border-bottom: 1px solid #657e0d; */
    padding: 0 0 0 5px;
    font-family: "Average Sans", sans-serif;
    font-size: 1.1em;
    outline: none;
    color: #657e0d;
    caret-color: #cc01aa;
    transition: all 200ms ease;
    overflow: hidden;
}
.delete-btn {
    color: #657e0d;
    background: transparent;
    display: block;
    border: none;
    padding: 2px 4px;
    border-radius: 3px;
    margin-left: 5px;
    visibility: hidden;
    box-shadow: 0 0 5px 2px #4b8d1166;
    pointer-events: none;
    transition: all 200ms ease-in-out;
}
.link-cont:hover > .delete-btn {
    visibility: visible;
    pointer-events: visible;
}
.delete-btn:hover {
    background: red;
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 5px 2px #ff00007c;
}
#blog-images-text .blog-posters:hover{
    box-shadow: 0 0 5px 2px #4b8d1166;
    border: none;
}
#blog-images-text .blog-posters:focus{
    box-shadow: inset 0 -1px #4b8d1166;
}
#blog-images-text .blog-posters::placeholder {
    color: rgba(101, 126, 13, 0.5);
}
#blog-images-links {
    width: fit-content;
}
#blog-images-links-btn {
    font-size: 1.3em;
    padding: 6px 20px;
    background: #657e0d;
    color: #cfcfcf;
    margin: 20px 0 0 0;
    border: none;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
    text-transform: capitalize;
    font-family: "Average Sans", sans-serif;
    font-weight: bolder;
    position: relative;
}
#blog-images-links-btn:hover {
    border-radius: 5px;
    background: #cc01aa;
    box-shadow: 0 0 10px #cc01aa;
}
#blog-images-links-btn::after {
    content: "";
    transition: all 200ms ease-in-out;
    font-size: 0.7em;
    position: absolute;
    left: 100%;
    top: 50%;
    color: #cc01aa;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
    padding: 3px 5px;
    width: fit-content;
    background: transparent;
    box-shadow: 0 0 20px #657e0da4;
    white-space: nowrap;
    border-radius: 0 3px 3px 0;
    z-index: -1;
}
#blog-images-links-btn:hover::after {
    content: "Add New Link";
    transition: all 200ms ease-in-out;
    font-size: 0.7em;
    position: absolute;
    left: 100%;
    top: 50%;
    opacity: 1;
    color: #cc01aa;
    transform: translateY(-50%) translateX(0);
    padding: 3px 5px;
    width: fit-content;
    background: transparent;
    box-shadow: 0 0 20px #657e0da4;
    white-space: nowrap;
    border-radius: 0 3px 3px 0;
    z-index: -1;
}
#blog-images-preview {
    padding: 10px 0;
    width: 360px;
    min-height: 180px;
    max-height: 640px;
    border-radius: 10px 10px 3px 3px;
    overflow-x: scroll;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 30px #4b8d1166;
    box-sizing: border-box;
}
#blog-images-preview::-webkit-scrollbar {
    appearance: none;
    background: #657e0d;
    height: 6px;
    width: 6px;
    border-radius: 3px;
}
#blog-images-preview::-webkit-scrollbar-thumb {
    appearance: none;
    height: 5px;
    background: #cc01aa;
    border-radius: 3px;
}
#blog-images-preview .note {
    content: url(./preview-icon.png) " "attr(data-text);
    position: absolute;
    font-size: 1.5em;
    color: #657e0d4f;
    text-transform: capitalize;
    text-align: center;
    box-sizing: border-box;
    fill: #657e0d4f;
    width: 100%;
    max-width: 100%;
    word-wrap: break-word;
    padding: 0 150px;
    height: 100%;
    background: linear-gradient(to bottom, #fff, #858484);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateZ(-20px);
} 
#blog-images-preview .note i {
    display: block;
}
.previewed-images {
    font-size: 0.9em;
    padding: 5px 0 0 0;
}
.img-preview {
    max-width: 340px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 10px 30px #4b8d1166;
}
button.submit {
    font-size: 1em;
    padding: 10px 20px;
    background: #657e0d;
    color: #cfcfcf;
    margin: 20px 0 0 10px;
    border: none;
    border-radius: 5px;
    transition: all 200ms ease-in-out;
    text-transform: capitalize;
    font-family: "Average Sans", sans-serif;
}
button.submit:hover {
    border-radius: 5px;
    background: #cc01aa;
    box-shadow: 0 0 10px #cc01aa;
}


@media only screen and (max-width: 775px) {
    /* For screens less than 775px */
    #bc-header {
        padding: 10px;
    } 
    #bc-header .logo {
        width: fit-content;
    }
    #bc-header .logo a h1 {
        font-size: 1.4em;
    }
    #bc-header .logo p {
        font-size: 0.9em;
    }
    #bc-header #bc-title svg {
        width: 14px;
        height: 14px;
    }
    #bc-header #bc-title p {
        font-size: 1em;
    }
    .header p {
        padding-top: 10px;
    }
    #bc-form {
        width: calc(100% - 10px);
    }
    #bc-form .title input {
        width: 100%;
    }
    #hero {
        flex-direction: column;
        padding: 20px 0 0 0;
    }
    #hero-text {
        width: 100%;
    }
    #hero #hero-img {
        width: 100%;
    }
    #hero-img-sect {
        width: 100%;
        margin: 10px 10px 0 10px;
    }
    #hero #hero-img-sect img {
        width: calc(100% - 20px);
    }
    #bc-form .blog-sect textarea {
        width: 100%;
    }
    #bc-form .author-name input {
        width: 100%;
    }
    #hero #hero-img-sect img::after {
        padding: 0;
    }
    #bc-form .snippet input {
        width: 100%;
    }
    #blog-images {
        flex-direction: column;
    }
    #blog-images-text {
        width: 100%;
    }
    #blog-images-links {
        width: 100%;
    }
    .link-cont {
        padding: 5px 0 5px 0;
        justify-content: space-between;
        width: 100%;
    }
    #blog-images-sect {
        width: 100%;
    }
    #blog-images-sect>p {
        padding: 10px 0 5px 0;
    }
    #blog-images-preview {
        width: 360px;
    }
    #bc-form .remark input {
        width: 100%;
    }
    .blog-tags-sect {
        flex-direction: column;
    }
    .blog-tags-sect .blog-tags {
        width: 100%;
    }
    .blog-tags-sect .blog-tags input {
        width: 100%;
    }
    .blog-tags-sect .tags-display {
        width: 100%;
    }
}
@media only screen and (max-width: 420px) {
    /* For screens less than 420px */
 
    #blog-images-preview {
        width: 100%;
    }
}