/* blogs page stylings */
.search-msg {
    font-weight: bolder;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
}
.blogs-page {
    transform-style: preserve-3d;
    overflow-x: hidden;
}
.back-btn {
    height: 40px;
    padding: 10px 15px 10px 0;
    color: white;
    background: black;
    font-size: 1.1em;
    vertical-align: middle;
    border-radius: 25px;
    margin-top: 50px;
    margin-left: 20px;
    cursor: pointer;
    transition: all 300ms ease;
    border: none;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}
.back-btn::before {
    content: "\1F860";
    display: inline-block;
    padding: 0 5px 0 10px;
    color: white;
}
.back-btn:hover {
    background: var(--background-color);
}
.search-header {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
}
.search-header::after {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background: var(--background-color);
    margin-top: 4px;
    margin-bottom: 10px;
    border-radius: 6px 6px 3px 3px;
}
.blogs-section.results {
    max-width: 800px;
    min-height: 180px;
    background: white;
    border-radius: 10px 10px 10px 10px;
    margin-left: 20px;
    margin-bottom: 50px;
    padding: 20px;
    transform: translateZ(10px);
    transition: all 300ms ease-in-out;
    box-shadow: 0 25px 25px #00000065;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blogs-section svg {
    width: 100%;
    height: 100px;
}
.blogs-section svg circle {
    margin-left: 50px;
    cx: 50%;
    cy: 40px;
    r: 20px;
    stroke: url(#linear-search);
    stroke-width: 4;
    fill: transparent;
    stroke-dasharray: 62.85;
    stroke-dashoffset: 1px 0;
    stroke-linecap: round;
    animation: fill-animation 1s cubic-bezier(1,1,1,1) 0s infinite;
}
.blogs-section .blog-item {
    position: relative;
    width: 100%;
    margin-top: 10px;
    height: fit-content;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "sp1 sp2"
    ;
    box-shadow: 0 5px 15px #00000033;
    overflow: hidden;
}
.blogs-section .blog-item .sub-parent-1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
.blogs-section .blog-item .sub-parent-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.blogs-section .blog-item .sub-parent-2 {
    margin-left: 10px;
    position: relative;
}
.blogs-section .blog-item .sub-parent-2 a {
    font-size: 1.3em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bolder;
    -webkit-line-clamp: 2;
    color: black;
    width: calc(100% - 50px);
    height: 60px;
}
.blogs-section .blog-item .sub-parent-2 a:hover{
    text-decoration: underline;
    text-underline-offset: 2px;
}
#blog-pages {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    font-size: 1.4em;
    height: 40px;
    padding: 0 20px;
}
.blogs-section .blog-item .sub-parent-2 p {
    color: #8b8b8b;
    margin-top: 5px;
}
.blogs-section .blog-item .sub-parent-2 .blog-snippet {
    display: block;
    padding-top: 20px;
    height: 90px;
    overflow: hidden;
    position: relative;
}
.blogs-section .blog-item .sub-parent-2 .blog-snippet::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, white);
    bottom: 0;
}
.blogs-section .blog-item .sub-parent-2 i {
    position: absolute;
    font-size: 2em;
    top: 2px;
    right: 5px;
    width: 30px;
    height: 30px;
}

.tabs {
    display: flex;
    margin: 50px 0 0 20px;
    transform-style: preserve-3d;
    transform: translateZ(10px);
}
.tab {
    padding: 10px 10px 10px 20px;
    font-size: 1.2em;
    font-weight: bolder;
    list-style-type: none;
    background: #b1b0b0;
    border-radius: 5px 5px 0 0 ;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 25px #00000065;
    transition: all 200ms ease-in-out;
}
.tab:hover {
    background: #e0e0e0;
}
.tab.active {
    background: white;
    transition: all 300ms ease-in-out;
}
.tab.active span {
    display: inline-block;
    background: var(--background-color);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 300ms ease-in-out;
}
.tab:nth-child(1) {
    transform: translateZ(0);
}
.tab:nth-child(2) {
    transform: translateX(-10px) translateZ(-1px);
}
.tabs li:nth-child(3) {
    transform: translateX(-20px) translateZ(-2px);
}
.tab:nth-child(4) {
    transform: translateX(-30px) translateZ(-3px);
}
.tab:nth-child(5) {
    transform: translateX(-40px) translateZ(-4px);
}
.blog-page-cont {
    width: 70vw;
    height: fit-content;
    background: white;
    border-radius: 0 10px 10px 10px;
    margin-left: 20px;
    margin-bottom: 50px;
    padding: 20px;
    transform: translateZ(10px);
    transition: all 300ms ease-in-out;
    box-shadow: 0 25px 25px #00000065;
}
.blog-page-cont svg {
    width: 100%;
    height: 100px;
}
.blog-page-cont svg circle {
    margin-left: 50px;
    cx: 50%;
    cy: 40px;
    r: 20px;
    stroke: url(#linear);
    stroke-width: 4;
    fill: transparent;
    stroke-dasharray: 62.85;
    stroke-dashoffset: 1px 0;
    stroke-linecap: round;
    animation: fill-animation 1s cubic-bezier(1,1,1,1) 0s infinite;
}
.blog-page-cont .blog-item {
    width: 100%;
    margin-top: 10px;
    height: fit-content;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "sp1 sp2"
    ;
    box-shadow: 0 5px 15px #00000033;
}
.blog-page-cont .blog-item .sub-parent-1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
.blog-page-cont .blog-item .sub-parent-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
.blog-page-cont .blog-item .sub-parent-2 {
    margin-left: 10px;
    position: relative;
}
.blog-page-cont .blog-item .sub-parent-2 a {
    font-size: 1.3em;
    display: -webkit-box;
    font-weight: bolder;
    color: black;
    width: calc(100% - 50px);
}
.blog-page-cont .blog-item .sub-parent-2 a:hover{
    text-decoration: underline;
}
.blog-page-cont .blog-item .sub-parent-2 p {
    color: #8b8b8b;
    margin-top: 5px;
}
.blog-page-cont .blog-item .sub-parent-2 span {
    display: block;
    padding-top: 20px;
    height: 90px;
    overflow: hidden;
    position: relative;
}
.blog-page-cont .blog-item .sub-parent-2 span::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, white);
    bottom: 0;
}
.blog-page-cont .blog-item .sub-parent-2 i {
    position: absolute;
    font-size: 2em;
    top: 2px;
    right: 5px;
    width: 30px;
    height: 30px;
}
.fa-xbox {
    color: green;
}

/* Blog animations go here */
@keyframes fill-animation {
    0%{
      stroke-dasharray: 20 105.7;
      stroke-dashoffset: 31.4;
    }
    50%{
      stroke-dasharray: 62.5;
      stroke-dashoffset: -31.1;
    }
    100%{
      stroke-dasharray: 20 105.7;
      stroke-dashoffset: -93.9;
    }
  }


/* for screens less than 780px */
@media only screen and (max-width: 780px) {
    .blogs-section .tabs {
        overflow: scroll;
        width: calc(100% - 14px);
        padding: 30px 0 5px;
    }
    .blogs-section .tabs .tab {
        transform: translateX(0) translateZ(0);
        margin-right: 20px;
        white-space: nowrap; 
        box-shadow: none;
        border-radius: 5px;
        padding: 10px 10px 10px 10px;
    }
    .blogs-section .tabs::-webkit-scrollbar{
        appearance: none;
        background: transparent;
        width: 6px;
        height: 6px;
    }
    .blogs-section .tabs::-webkit-scrollbar-thumb {
        appearance: none;
        border-radius: 10px;
        background: linear-gradient(315deg, #cc01aa, #01d3c1);
        width: 10px;
        height: 10px;
    }
    .blogs-section .tabs::-webkit-scrollbar-corner {
        appearance: none;
        background: transparent;
    }
    .blogs-section .blog-page-cont {
        width: calc(100% - 40px);
        border-radius: 10px;
        margin-top: 30px;
    }
    .blogs-section .blog-item .sub-parent-2 a {
        font-size: 1.1em;
        height: 68px;
        -webkit-line-clamp: 3;
    }
    .blogs-section.results {
        width: calc(100% - 40px);
        border-radius: 10px;
        margin-top: 30px;
    }
}
/* for screens less than 475px */
@media only screen and (max-width: 475px) {
    .blog-page-cont .blog-item {
        flex-direction: column;
        display: flex;
        padding: 0;
        margin-bottom: 30px;
    }
    .blog-page-cont .blog-item .sub-parent-1 {
        border-radius: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .blog-page-cont .blog-item .sub-parent-1 img {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .blog-page-cont .blog-item .sub-parent-2 {
        margin-left: 0;
        padding: 5px;
    }
    .blogs-section .blog-item .sub-parent-2::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #0000007c;
        backdrop-filter: blur(2px);
        top: 0;
        left: 0;
    }
    .blogs-section .blog-item .sub-parent-2 a {
        color: white;
        position: relative;
    }
    .blogs-section .blog-item .sub-parent-2 p {
        color: #ffffff83;
        position: relative;
    }
    
    .blogs-section .blog-item .sub-parent-2 .blog-snippet {
        background: linear-gradient(to bottom, white 20%, transparent);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bolder;
    }
    .blogs-section .blog-item .sub-parent-2 .blog-snippet::after {
        display: none;
    }
    .blog-page-cont .blog-item .sub-parent-2 span {
        background: linear-gradient(to bottom, white 20%, transparent);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bolder;
    }
    .blog-page-cont .blog-item .sub-parent-2 span::after {
        display: none;
    }
    .blogs-section.results .blog-item {
        flex-direction: column;
        display: flex;
        padding: 0;
        margin-bottom: 30px;
    }
    .blogs-section.results .blog-item .sub-parent-1 {
        border-radius: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .blogs-section.results .blog-item .sub-parent-1 img {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .blogs-section.results .blog-item .sub-parent-2 {
        margin-left: 0;
        padding: 5px;
    }
    .blogs-section.results .blog-item .sub-parent-2::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #0000007c;
        backdrop-filter: blur(2px);
        top: 0;
        left: 0;
    }
    .blogs-section.results .blog-item .sub-parent-2 a {
        color: white;
        position: relative;
    }
    .blogs-section.results .blog-item .sub-parent-2 p {
        color: #ffffff83;
        position: relative;
    }
    
    .blogs-section.results .blog-item .sub-parent-2 .blog-snippet {
        background: linear-gradient(to bottom, white 20%, transparent);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bolder;
    }
    .blogs-section.results .blog-item .sub-parent-2 .blog-snippet::after {
        display: none;
    }
    .blogs-section.results .blog-item .sub-parent-2 span {
        background: linear-gradient(to bottom, white 20%, transparent);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bolder;
    }
    .blogs-section.results .blog-item .sub-parent-2 span::after {
        display: none;
    }
}
/* for screens less than 400px */
@media only screen and (max-width: 400px) {
    #blog-pages {
        font-size: 1em;
    }
    .back-btn {
        height: 30px;
        border-radius: 20px;
        padding: 0 10px 0 0;
        font-size: 0.9em;
    }
}