.login-cont {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-cont .form-control {
    background: #ffffffa2;
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: calc(360px -20px);
    margin: 50px 10px;
    box-shadow: 0 10px 30px #0000006e;
}
.login-cont .form-control hr {
    border: none;
    border-bottom: 1px solid #5A5B5C;
    margin-top: 5px;
}
.login-cont .form-control form {
    padding: 10px 0;
}
.login-cont .form-control form div label {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 1.1em;
}
.login-cont .form-control form div input {
    width: 100%;
    font-size: 1.2em;
    border: none;
    padding: 5px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #5A5B5C;
    outline: none;
}
.login-cont .form-control form div input:focus {
    border: 1px solid #000000d3;
}
.login-cont .form-control form div span {
    display: block;
    height: 30px;
    padding: 5px 0;
    color: red;
}
.login-cont .form-control form .username {
    padding: 5px 0 10px 0;
    margin-bottom: 0 0 10px;
}
.login-cont .form-control form button {
    width: 100%;
    margin-top: 20px;
    padding: 5px 0;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
    color: white;
    background: black;
    border: none;
    cursor: pointer;
}
.login-cont .form-control form button:hover {
    background: var(--background-color);
}
.login-cont .form-control a {
    color: black;
}
.login-cont .form-control a:hover {
    background: var(--background-color);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}