@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: white;
    font-family: 'Average Sans', sans-serif;
    color: #2F2E41;
    width: 100vw;
    height: 100vh;
}
div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
section {
    padding: 0 20px 0 0;
}
h1, h3 {
    text-decoration: underline;
    text-decoration-color: #03ff03;
    text-decoration-thickness: 3px;
}
p {
    padding: 10px 0 0;
}
ul {
    padding: 10px 0 0;
}
ul li {
    margin-left: 10px;
    padding-bottom: 5px;
    list-style-type: none;
    text-transform: capitalize;
}
ul li::before {
    content: "\2713";
    margin-right: 5px;
    color: #03ff03;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.link-btn {
    border: none;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
}
.link-btn:nth-child(1) {
    margin-top: 20px;
    color: white;
    background: #2F2E41;
    box-shadow: 0 5px 10px #E6E6E6;
    transition: all 200ms ease-in-out;
}
.link-btn:nth-child(1):hover {
    background: #03ff03;
    color: #2F2E41;
}

.link-btn:nth-child(2) {
    color: #2F2E41;
    border: 1px solid #2F2E41;
    box-shadow: 0 5px 10px #E6E6E6;
}
.link-btn:nth-child(2):hover {
    border: 1px solid #03ff03;
    color: #03ff03;
    transition: all 200ms ease-in-out;
}
