.modal {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background: #000000cc;
  z-index: 10;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.modal::-webkit-scrollbar {
  appearance: none;
  background: black;
  width: 6px;
}
.modal::-webkit-scrollbar-thumb {
  appearance: none;
  border-radius: 10px;
  background: linear-gradient(315deg, #cc01aa, #01d3c1);
  width: 6px;
  height: 6px;
}
.modal::-webkit-scrollbar-corner {
  appearance: none;
  background: #000;
}
.modal .fa-window-close {
  position: fixed;
  color: white;
  font-size: 2em;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.videos-cont {
  margin: 50px 0;
  padding: 0 0 0 20px;
}
.videos-cont h1,
.videos-cont h2,
.videos-cont h3 {
  width: fit-content;
  margin-top: 30px;
  padding-right: 20px;
}

.videos-cont h1::after,
.videos-cont h2::after,
.videos-cont h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background: var(--background-color);
  margin-top: 4px;
  margin-bottom: 10px;
  border-radius: 6px 6px 3px 3px;
}
.back-board {
  width: calc(100% - 20px);
  /* transform: translateY(); */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: 320px;
  overflow: visible;
  margin-right: 100%;
}
.videos-cont .recent-videos {
  width: calc(100% + 40px);
  height: 340px;
  margin-left: -20px;
  overflow: scroll;
  display: flex;
  align-items: center;
  padding-left: 40px;
  position: relative;
}
.videos-cont .recent-videos svg {
  width: 100%;
  height: 100px;
}
.videos-cont svg circle.spinner-3 {
  margin-left: 50px;
  display: block;
  cx: 50%;
  cy: 40px;
  r: 20px;
  stroke: url(#linear-3);
  stroke-width: 4;
  fill: transparent;
  stroke-dasharray: 62.85;
  stroke-dashoffset: 1px 0;
  stroke-linecap: round;
  animation: fill-animation 1s cubic-bezier(1, 1, 1, 1) 0s infinite;
}
.videos-cont .recent-videos::-webkit-scrollbar {
  appearance: none;
  width: 6px;
  height: 6px;
}
.videos-cont .recent-videos::-webkit-scrollbar-thumb {
  appearance: none;
  border-radius: 10px;
  background: linear-gradient(315deg, #cc01aa, #01d3c1);
  width: 6px;
  height: 6px;
  margin-left: 20px;
}
.videos-cont .recent-videos::-webkit-scrollbar-corner {
  appearance: none;
}
.videos-cont .video-card {
  width: 250px;
  height: 250px;
  margin: 20px;
  border-radius: 5px;
  background: #afafaf;
  overflow: hidden;
  flex-basis: 250px;
  flex-shrink: 0;
  flex-grow: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.videos-cont .video-card:hover {
  transform: translateY(-15px);
  background: var(--background-color);
}
.videos-cont .video-card:hover .vid-name {
  color: white;
}
.videos-cont .video-card:hover .show-title,
.videos-cont .video-card:hover .publish-date {
  color: #d1d1d1;
}
.videos-cont .video-card .vid-img {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
  transition: all 300ms ease;
}
.videos-cont .video-card .vid-img::after {
  content: url("https://api.iconify.design/bi/play-fill.svg?width=32&height=32&color=white");
  font-size: 2em;
  opacity: 0;
  top: 50%;
  left: 111.635px;
  transform: translateY(-50%);
  color: white;
  transition: all 300ms ease;
}
.videos-cont .video-card:hover .vid-img::after {
  content: url("https://api.iconify.design/bi/play-fill.svg?width=32&height=32&color=white");
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 111.635px;
  transform: translateY(-50%);
  color: white;
  opacity: 1;
}
.videos-cont .video-card .vid-img img.vid-poster {
  width: 100%;
  transition: all 300ms ease;
}
.videos-cont .video-card:hover .vid-img img.vid-poster {
  filter: brightness(0.5);
}
.videos-cont .video-card .vid-img .timestamp {
  display: block;
  position: absolute;
  width: fit-content;
  padding: 5px;
  height: fit-content;
  border-radius: 5px;
  bottom: 10px;
  right: 10px;
  text-align: center;
  color: white;
  font-weight: bolder;
  background: var(--background-color);
}
.videos-cont .video-card .vid-dets {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.videos-cont .video-card .vid-dets .vid-icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(https://www.giantbomb.com/a/uploads/scale_avatar/28/288354/3307514-veryonlineshowshowart.jpg);
  /* background-position: center center; */
  background-size: contain;
  margin: 5px 10px 5px 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.videos-cont .video-card .vid-dets .vid-name {
  margin: 0;
  max-height: 40px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  border-radius: 5px;
  overflow: hidden;
  font-weight: bolder;
  width: 190px;
  margin-right: 5px;
  transition: all 300ms ease;
}
.videos-cont .video-card .show-title {
  width: 190px;
  height: 7%;
  margin: 1.5% 5px 1.5% 55px;
  border-radius: 5px;
  text-overflow: ellipsis;
  color: #494949;
  transition: all 300ms ease;
}
.videos-cont .video-card .publish-date {
  width: 190px;
  height: 7%;
  margin: 1.5% 5px 1.5% 55px;
  border-radius: 5px;
  text-overflow: ellipsis;
  color: #494949;
  transition: all 300ms ease;
}
.videos-cont .game-trailers {
  width: calc(100% + 40px);
  height: 340px;
  margin-left: -20px;
  overflow: scroll;
  display: flex;
  align-items: center;
  padding-left: 40px;
  position: relative;
}
.videos-cont .game-trailers::-webkit-scrollbar {
  appearance: none;
  width: 6px;
  height: 6px;
}
.videos-cont .game-trailers::-webkit-scrollbar-thumb {
  appearance: none;
  border-radius: 10px;
  background: linear-gradient(315deg, #cc01aa, #01d3c1);
  width: 6px;
  height: 6px;
  margin-left: 20px;
}
.videos-cont .game-trailers::-webkit-scrollbar-corner {
  appearance: none;
}
.videos-cont .video-card {
  width: 250px;
  height: 250px;
  margin: 20px 20px 20px 0;
  border-radius: 5px;
  background: #afafaf;
  overflow: hidden;
  flex-basis: 250px;
  flex-shrink: 0;
  flex-grow: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.videos-cont .video-card:hover {
  transform: translateY(-15px);
}
.videos-cont .video-card .vid-img {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
  transition: all 300ms ease;
}
.videos-cont .video-card .vid-img::after {
  content: url("https://api.iconify.design/bi/play-fill.svg?width=32&height=32&color=white");
  font-size: 2em;
  opacity: 0;
  top: 50%;
  left: 111.635px;
  transform: translateY(-50%);
  color: white;
  transition: all 300ms ease;
}
.videos-cont .video-card:hover .vid-img::after {
  content: url("https://api.iconify.design/bi/play-fill.svg?width=32&height=32&color=white");
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 111.635px;
  transform: translateY(-50%);
  color: white;
  opacity: 1;
}
.videos-cont .video-card .vid-img img.vid-poster {
  width: 100%;
  transition: all 300ms ease;
}
.videos-cont .video-card:hover .vid-img img.vid-poster {
  filter: brightness(0.5);
}
.videos-cont .video-card .vid-img .timestamp {
  display: block;
  position: absolute;
  width: fit-content;
  padding: 5px;
  height: fit-content;
  border-radius: 5px;
  bottom: 10px;
  right: 10px;
  text-align: center;
  color: white;
  background: var(--background-color);
}
.videos-cont .video-card .vid-dets {
  height: 25%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.videos-cont .video-card .vid-dets .vid-icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(https://www.giantbomb.com/a/uploads/scale_avatar/28/288354/3307514-veryonlineshowshowart.jpg);
  /* background-position: center center; */
  background-size: contain;
  margin: 5px 10px 5px 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.videos-cont .video-card .vid-dets .vid-name {
  margin: 0;
  max-height: 40px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  border-radius: 5px;
  overflow: hidden;
  font-weight: bolder;
  width: 190px;
  margin-right: 5px;
}
.videos-cont .video-card .show-title {
  width: 190px;
  height: 7%;
  margin: 1.5% 5px 1.5% 55px;
  border-radius: 5px;
  text-overflow: ellipsis;
  color: #494949;
}
.videos-cont .video-card .publish-date {
  width: 190px;
  height: 7%;
  margin: 1.5% 5px 1.5% 55px;
  border-radius: 5px;
  text-overflow: ellipsis;
  color: #494949;
}
.videos-cont .game-trailers svg {
  width: 100%;
  height: 100px;
}
.videos-cont svg circle.spinner-4 {
  margin-left: 50px;
  display: block;
  cx: 50%;
  cy: 40px;
  r: 20px;
  stroke: url(#linear-4);
  stroke-width: 4;
  fill: transparent;
  stroke-dasharray: 62.85;
  stroke-dashoffset: 1px 0;
  stroke-linecap: round;
  animation: fill-animation 1s cubic-bezier(1, 1, 1, 1) 0s infinite;
}

/* error message and button for recent videos and shows */
.err-box {
  width: 100%;
  height: fit-content;
  padding-left: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.err-msg {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
  color: black !important;
}
.err-btn {
  display: block;
  margin-top: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: black;
  position: relative;
  border: none;
  cursor: pointer;
}
.err-btn:hover {
  background: var(--background-color);
}
.err-btn::after {
  content: url("https://api.iconify.design/ep/refresh-right.svg?color=white&width=50");
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
}

/* error message and button for game trailers */
.err-box-2 {
  width: 100%;
  height: fit-content;
  padding-left: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.err-msg-2 {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
}
.err-btn-2 {
  display: block;
  margin-top: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: black;
  position: relative;
  border: none;
  cursor: pointer;
}
.err-btn-2:hover {
  background: var(--background-color);
}
.err-btn-2::after {
  content: url("https://api.iconify.design/ep/refresh-right.svg?color=white&width=50");
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
}

/* no video result found in search */
.err-box-3 {
  width: 100%;
  height: 200px;
  padding-left: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#pages {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  font-size: 1.4em;
  height: 40px;
  padding-right: 20px;
}
.pages {
  font-weight: bolder;
  padding: 5px 10px;
  box-shadow: 0 6px 20px #0000004d;
  border-radius: 10px;
}
.review-count {
  background: var(--background-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.6em;
}
.current-page,
.num-of-pages {
  background: var(--background-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.6em;
}
.video-results-box {
  width: calc(100% - 20px);
  min-height: 200px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 10px;
}

/* page control and buttons styling */
.page-controls-cont {
  width: calc(100% - 40px);
  margin: 20px auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-control-btn {
  padding: 5px 10px;
  background: black;
  border-radius: 5px;
  color: white;
  font-size: 1.2em;
  border: none;
  margin: 10px 20px;
  font-weight: bolder;
  position: relative;
}
.page-control-btn:hover {
  background: var(--background-color);
}
.page-control-btn.disabled::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #fdfdfd7e;
  cursor: not-allowed;
  pointer-events: none;
}
.page-control-btn.disabled:hover {
  background: black;
}
.page-control-num {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-weight: bolder;
  font-size: 1.4em;
  border-radius: 5px;
}

/* for screens less than 470px */
@media only screen and (max-width: 470px) {
  .page-control-num {
    font-size: 1.1em;
    white-space: nowrap;
  }
  .page-control-btn {
    font-size: 1em;
    margin: 10px 0px;
  }
  .page-controls-cont {
    justify-content: space-between;
  }
}
